.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 150px;
  @media screen and (max-width: 640px){
    width: 100px;
  }
}

.Container {
  width: 60%;
  // margin-top: 2%;
  // min-width: 675px;
  min-height: 620px;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  @media screen and (max-width: 640px){
    width: 95%;
    min-width: inherit;
  }
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  .HeaderText {
    font-size: 45px;
    font-weight: 400;
    @media screen and (max-width: 640px){
      font-size: 30px;
    }
  }
}

.Divider {
  width: 95%;
  margin: 0 auto 10px;
  border-bottom: 1px solid #cecece;
}

.Form {
  width: 70%;
  margin: 0 auto;
  @media screen and (max-width: 640px){
    width: 100%;
  }

  .FormRow {
    width: 100%;
    display: flex;
    padding: 5px 0;
    align-items: flex-end;
    justify-content: space-around;

    .Title {
      width: 30%;
      text-align: right;
    }
    .Input {
      width: 70%
    }
  }
}

.TextSeciton {
  width: 90%;
  font-size: 14px;
  margin: 15px auto;
}